.dark {
    background: #000000;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: #ff0000;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.white {
    background: #ffffff;
}

.white-text {
    color: #000000;
}

.gold {
    background: #cb843c;
}

.gold-text {
    color: #4a6035;
}