.messageBlock {
    display: grid;
    grid-template-areas:
    "name"
    "text"
    "time";
    grid-template-rows: 30px 1fr 30px;
    position: relative;
    border-radius: 10px 10px 10px 0;
    background: #4d5156;
    color: #bbfbbc;
}
.messageBlock::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    display: block;
    width: 20px;
    height: 20px;
    background: radial-gradient(40px at top left, transparent 49%, #4d5156 51%) no-repeat right bottom;
}

.name{
    padding: 5px 10px 0 10px;
    color: blueviolet;
    grid-area: name;
}
.text{
    padding: 0 10px 0 10px;
    color: #b2fa74;
    grid-area: text;
}
.time{
    color: #408100;
    grid-area: time;
    text-align: right;
    padding: 0 10px 5px 10px;
}
