.message {
    padding: 10px;
    position: relative;
    display: grid;
    grid-template-areas:
            "avatar message";
    grid-template-columns: 60px 250px;
    z-index: -1;
}
.avatar {
    position: relative;
    grid-area: avatar;
}
.avatar img {
    position: absolute;
    left: 5px;
    bottom: 0;
    width: 50px;
    border-radius: 50%;

}