.messageBlock {
    display: grid;
    grid-template-areas:
    "name"
    "text"
    "time";
    grid-template-rows: 30px 1fr 30px;
    position: relative;
    border-radius: 10px 10px 10px 0;
    background: rgba(79, 79, 79, 0.60);
}
.messageBlock::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    display: block;
    width: 20px;
    height: 20px;
    background: radial-gradient(40px at top left, transparent 50%, rgba(79, 79, 79, 0.6) 0) no-repeat right bottom;
}

.name{
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px 0 10px;
    color: blueviolet;
    grid-area: name;
}
.text{
    max-width: 230px;
    padding: 0 10px 0 10px;
    color: #b2fa74;
    grid-area: text;
    word-wrap: break-word;
}
.time{
    color: #408100;
    grid-area: time;
    text-align: right;
    padding: 0 10px 5px 10px;
}
